$text-color: rgb(255,250,250);

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    height: 100%;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
    min-width: 400px;
}

#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.section {
    width: 80%;
    position: relative;
    font-family: 'Didot';
    margin: calc(100vh/2) auto;
    padding: 10px;
}

.text {
    text-align: left;
    color: $text-color;
    font-size: 1em;
    width: 100%;
    opacity: 0;
    position: relative;
    margin: 0;
    display: block;
    // transition: all 1s ease-in;
    animation: fadeIn 2s ease-in;
    animation-fill-mode: forwards;
    z-index: -5;

    span {
        white-space: nowrap;
        font-weight: normal;
    }

    .rw-words {
        display: inline;
        // text-indent: 1em;

        span {
            text-align: left;
            position: absolute;
            opacity: 0;
            overflow: hidden;
            color: lightblue;
            animation: rotateWordsFirst 18s linear infinite 0s;

            &:nth-child(2) {
                animation-delay: 3s
            }
            &:nth-child(3) {
                animation-delay: 6s
            }
            &:nth-child(4) {
                animation-delay: 9s
            }
            &:nth-child(5) {
                animation-delay: 12s
            }
            &:nth-child(6) {
                animation-delay: 15s
            }
        }
    }
}


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes rotateWordsFirst {
    0% { opacity: 0; animation-timing-function: ease-in; transform: translateY(0px); }
    2% { opacity: 0; transform: translateY(-30px); }
    5% { opacity: 1; transform: translateY(0px); }
    17% { opacity: 1; transform: translateY(0px); }
	20% { opacity: 0; transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}