$text-color: rgb(255,250,250);

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#canvas {
    z-index: 2;
}

.text {
    text-align: center;
    color: $text-color;
    font-size: 1em;
    width: 100%;
    top: 55%;
    opacity: 0;
    position: absolute;
    margin: 0 auto;
    display: block;
    // transition: all 1s ease-in;
    animation: fadeIn 2s ease-in;
    animation-fill-mode: forwards;

}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}