html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

html {
  height: 100%;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
  min-width: 400px;
}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.section {
  width: 80%;
  position: relative;
  font-family: 'Didot';
  margin: calc(100vh/2) auto;
  padding: 10px;
}

.text {
  text-align: left;
  color: snow;
  font-size: 1em;
  width: 100%;
  opacity: 0;
  position: relative;
  margin: 0;
  display: block;
  -webkit-animation: fadeIn 2s ease-in;
          animation: fadeIn 2s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: -5;
}

.text span {
  white-space: nowrap;
  font-weight: normal;
}

.text .rw-words {
  display: inline;
}

.text .rw-words span {
  text-align: left;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: lightblue;
  -webkit-animation: rotateWordsFirst 18s linear infinite 0s;
          animation: rotateWordsFirst 18s linear infinite 0s;
}

.text .rw-words span:nth-child(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.text .rw-words span:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.text .rw-words span:nth-child(4) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.text .rw-words span:nth-child(5) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.text .rw-words span:nth-child(6) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes rotateWordsFirst {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateWordsFirst {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */